<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.learning.electronic.dao.user.UserDao">
    <select id="selectUserInfo" parameterType="java.lang.String" resultType="com.learning.electronic.bean.user.UserInfoBo">
        select * from user
        where `name`=#{name}
    </select>
</mapper>